<div>   
<div>
    <form id="productForm" action="hhtp://localhost:8080/api/products" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="quantity" name="quantity">
        </div>
        <button type="submit" id="addButton" class="btn btn-primary">Agregar</button>
    </form>
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>