<div>


<h3>Ingrese sus datos para loguearse</h3>

   <form id="userForm" >
    <div class="mb-3">
        <label for="name" class="form-label">Nombre </label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Mail</label>
        <input type="mail" class="form-control" id="email" name="email">
    </div>
   
 
    <button type="submit" class="btn btn-secondary">Agregar</button>
</form>
</div>




</div>

<script src="/js/index.js"></script>